@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
    --card-w: 220px;
    --card-h: 308px;
    --gap: 18px;
    --radius: 12px;
    --text: #f0eaf8;
    --muted: #9b8fc2;
    --surface: #2a1d4a;
    --accent: #9b6ee0;
    --bg: #1e1433;
}

body {
    background-color: #1e1030 !important;
    color: #fff;
    min-height: 100vh;
}

/* Chrome, Edge, Safari */
body::-webkit-scrollbar {
    display: none;
}

/* Firefox */
body {
    scrollbar-width: none;
}

img{
    user-select: none;
}

.font{
  font-family: 'Fredoka', cursive;
}