input[type="radio"]:checked + img{
    border:3px solid #6B6DFF;
    transform: scale(1.05);
}
.back-btn{
    display:inline-flex;
    align-items:center;
    gap:6px;
    margin-bottom:20px;
    color:white;
    text-decoration:none;
    font-size:18px;
    font-weight:600;
    transition:0.2s;
}

.back-btn:hover{
    opacity:0.7;
    transform:translateX(-3px);
}